body{
  text-align: center;
  margin: 0;
}

.myname{
 color: #66BFBF;
 font-family: 'Sacramento', cursive;
 font-size: 5em;
 padding-top: 1.5em;
 margin: 0;
}

.first-description{

font-size: 1.8em;
color: #66BFBF;
font-family: 'Montserrat', sans-serif;
font-weight: bold;

}

.first-container{

  background-color: #EAF6F6;
  margin:0;
}

.cloud1{

  position: absolute;
  top: 15em;
  right: 18em;
}

.cloud2{
  position: absolute;
  top: 26em;
  left: 20em;
}

.cloud3{
position: absolute;
top: 26em;
left: 15em;
}

.cloud4{

  position: absolute;
  top: 15em;
  right: 23em;
}

.airplane{
  position:absolute;
  top: 8em;
  left: 15em;
}

.bird{

  position:absolute;
  top: 33em;
  right: 20em;
  width: 2.2em;
  height: 2.2em;
}

.personal-photo{
margin-top: 5em;
  height:15em;
  width: 15em
}

h2{
color: #66BFBF;
font-size: 2.5em;
font-family: 'Montserrat', sans-serif;

}

.second-container{

  width: 40em;
  margin: 0 auto 0;
  line-height: 2;

}

hr{

  border-style: dotted none none none;
  border-color: grey;
  border-width: 7px;
  width: 10em;

}

.third-container{

  margin: 0 auto 0;
  line-height: 2;

}

h3{

  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
.programming-image{

  width: 15em;
  height: 10em;
}

.img1{
 display: inline-block;
 width: 20em;
}

.desc1{
display: inline-block;
width: 40em;
position: relative;
bottom: 10px;
font-size: 1.2em;

}

.desc2{

  display: inline-block;
  width: 30em;
  position:relative;
  right: 40px;
  font-size: 1.2em;
}

.img2{

  display: inline-block;
  width: 20em;
  height:20em;
}

.volleypic{

  width: 25em;
  height: 15em;
  position: relative;
  left: 20px;

}

.final-container{

  height: 50px;
  background-color: #11999E;
}

.img3{
display: inline-block;
width: 20em;
}

.robot-image{
  width: 20em;
  height: 15em;
}

.desc3{
  display: inline-block;
  width: 30em;
  position: relative;
  bottom: 60px;
  left: 20px;
  font-size: 1.2em
}

.desc4{
  display: inline-block;
  width: 30em;
  position: relative;
  bottom: 25px;
  right: 20px;
  font-size: 1.2em;


}

.img4{
  display: inline-block;
  width: 40em;

}

.psychology-image{
  width: 20em;
  height: 15em;

}
